
body{
    display: flex;
}

form{
    width: 20rem;
    height: 20rem;
    background: grey;
    margin: 10rem;
    padding: 5rem;
    
}
label{
    display: block;
    margin-bottom: 1rem ;
}

section{
    width: 20rem;
    height: 20rem;
    background: grey;
    margin-top: 10rem;
}