

form{
    width: 50rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

textarea{
    width: 30rem;
}

button{
    width: 8rem;
    height: 2rem;
}