#container{

    width: 20rem;
    height: 20rem;
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#box{
    width: 10rem;
    height: 10rem;
    background: greenyellow;
    margin: auto;
}